/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-block: 100px;
  font-family: var(--main-font-family, sans-serif);
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-height, 21px);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight, 410);
  background-image: var(--bg-page);
  background-color: var(--bg-color);
  background-size: cover;
  background-attachment: fixed;
}

.section {
  margin-inline: auto;
  inline-size: var(--section-width);
  background-color: var(--bg-color);
  outline: var(--border);
  outline-offset: -2px;
}

.header {
  margin-block-end: 98px;
  padding-block: var(--header-padding);
  outline-offset: 0;
  font-family: var(--accent-font-family), sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.logo {
  display: block;
  margin-block-end: 20px;
  font-size: var(--logo-font-size);
  font-weight: inherit;
  line-height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 50px;
}

.headline {
  font-size: var(--headline-font-size);
  line-height: 100%;
}

.card__title {
  padding-inline: 12px;
  padding-block-start: 7px;
  padding-block-end: 3px;
  font-size: inherit;
  font-variation-settings: "wght" var(--bold-font-weight, 715);
}

.card_block {
  position: relative;
  margin: 0;
}

.card__img {
  display: block;
  margin-inline: auto;
  border: var(--border);
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-inline: 27px;
  padding-block-start: 24px;
  padding-block-end: 25px;
}

.card__text {
  font-size: inherit;
  line-height: inherit;
  font-variation-settings: inherit;
}

/*Фильтры на картинки*/
.img-grayscale {
  filter: grayscale(0.6);
}

.img-saturate {
  filter: saturate(300%);
}

.img-purplescale {
  filter: hue-rotate(20deg);
}

.img-invert {
  filter: invert(90%);
}

.img-sepia {
  filter: sepia(0.8);
}

.img-blur {
  filter: blur(10px);
}

.img-multiple-filter {
  filter: hue-rotate(90deg) blur(3px) brightness(80%);
}

/*Водяной знак*/
.watermark {
  position: absolute;
  top: 25px;
  right: 27px;
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px 0 var(--text-watermark-color);
  /*text-shadow:
    1px 0 var(--text-watermark-color),
    0 1px var(--text-watermark-color),
    -1px 0 var(--text-watermark-color),
    0 -1px var(--text-watermark-color);*/
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--text-watermark-color)) or (text-stroke: 1px var(--text-watermark-color)) {
  .watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-watermark-color);
    text-stroke: 1px var(--text-watermark-color);
  }
}

.card__buttons-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: end;
  gap: 7px;
}

.card__like-button {
  padding-block: 9px;
  inline-size: 130px;
}
/*Настройки сердечка*/
.card__icon-button {
  display: grid;
  border: none;
  padding: 0;
  background-color: var(--bg-color);
  outline: 2px solid transparent;
  outline-offset: -2px;
  cursor: pointer;
  inline-size: 38px;
  block-size: 38px;
}

.card__icon-button:focus {
  outline-color: transparent;
}

.card__icon-button:focus-visible {
  outline-color: var(--accent-color);
}

.card__icon-button .contour {
  transition: fill 0.1s linear;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button .sparks {
  opacity: 0;
}

.like-icon {
  place-self: center;
  transform-origin: center;
  inline-size: 38px;
  block-size: 36px;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  animation: 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  animation: 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-color);
  animation: 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-color);
  animation: 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-color);
  animation: 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-color);
  animation: 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-color);
  animation: 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scale-heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: opacity-sparks 0.3s ease-in 0.3s;
}

/*Общие настройки кнопок*/
.button {
  position: relative;
  line-height: 90%;
  font-variation-settings: inherit;
  background-color: var(--bg-color);
  border: var(--border);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--bg-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
  isolation: isolate;
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button__text {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  text-align: start;
}

/*Настройки кнопки "Сохранить"*/
.button-save {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  padding: 14px 18px;
}

.button-save svg {
  inline-size: 21px;
  block-size: 21px;
}

/*Вcплывающее окно dialog*/
.dialog {
  display: none;
}

.dialog[open] {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
  max-width: 100%;
  padding: 30px;
}

.dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog svg {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__info {
  padding-inline-end: 30px;
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.dialog .button {
  grid-column: 1 / -1;
  padding: 10px 20px;
  text-transform: uppercase;
  line-height: 150%;
}
/*Адаптив*/
@media (width <= 375px) {
  .header {
    margin-block-end: 100px;
    outline-offset: -2px;
  }

  .card__content {
    padding-block-start: 25.6px;
  }

  .button-save {
    flex-direction: column;
    padding: 16px;
  }

  .button-save svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog[open] {
    padding-inline: 40px;
  }
}
