/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-block: 100px;
  font-family: var(--main-font-family, sans-serif);
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-height, 21px);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight);
  background-image: var(--bg-page);
  background-color: var(--bg-color);
  background-size: cover;
  background-attachment: fixed;
}

.section {
  margin-inline: auto;
  inline-size: var(--section-width);
  background-color: var(--bg-color);
  outline: var(--border);
  /*outline-offset: -2px;*/
}

.header {
  margin-block-end: 98px;
  padding-block: var(--header-padding);
  outline-offset: 0;
  font-family: var(--accent-font-family), sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.logo {
  display: block;
  margin-block-end: 20px;  
  font-size: var(--logo-font-size);
  font-weight: var(--main-font-weight);
  line-height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.headline {
  font-size: var(--headline-font-size);
}

.card__title {
  padding-inline: 12px;
  padding-block-start: 6px;
  padding-block-end: 3px;
  font-size: var(--main-font-size);
  font-variation-settings: "wght" var(--bold-font-weight);
}

.card_block {
  position: relative;
  margin: 0;
}

.card__img {
  display: block;
  margin-inline: auto;
  border: var(--border);
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;

}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 27px;
}

.card__text {
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-variation-settings: "wght" var(--main-font-weight);
}

.img-grayscale {
  filter: grayscale(0.6);
}

.img-brightness {
  filter: brightness(30%);
}

.img-saturate {
  filter: saturate(300%);
}

.img-contrast {
  filter: contrast(50%);
}

.img-purplescale {
  filter: hue-rotate(20deg);
}

.img-invert {
  filter: invert(90%);
}
.img-sepia {
  filter: sepia(0.8);
}

.img-blur {
  filter: blur(10px);
}

.img-multiple-filter {
  filter: hue-rotate(90deg) blur(3px) brightness(80%);
}

.watermark {
  position: absolute;
  top: 25px;
  right: 27px;
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  text-shadow:
    1px 0 var(--text-watermark-color),
    0 1px var(--text-watermark-color),
    -1px 0 var(--text-watermark-color),
    0 -1px var(--text-watermark-color);
  mix-blend-mode: hard-light;

}


