/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font-family, sans-serif);
  font-size: var(--main-font-size, 18px);
  line-height: var(--main-line-height, 21px);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight);
  background-image: var(--bg-page);
  background-color: var(--bg-color);
  background-size: cover;
  background-attachment: fixed;
}

.section {
  margin-inline: auto;
  inline-size: var(--section-width);
  background-color: var(--bg-color);
}

.header {
  margin-block-end: 98px;
  padding-block: var(--header-padding);
  outline-offset: 0;
  font-family: var(--accent-font-family), sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.visually-hidden {

}

.logo {
  font-size: var(--logo-font-size);
}

.list {

}

.card {

}

.headline {
 font-size: var(--headline-font-size);
}

.card__title {
  font-size: var(--main-font-size);
  font-variation-settings: "wght" var(--bold-font-weight);
  
}

.card_block {

}

.card__img {
  display: block;
  margin-inline: auto;
  border: var(--border);
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;

}

.card__content {

}

.card__text {
  font-size: var(--main-font-size);
}

.img-brightness {

}

.img-contrast {

}

.img-opacity {

}

.img-grayscale {

}

.img-saturate {

}

.img-sepia {

}

.img-multiple-filter {

}


